.header{
    height: 95vh;
    background-image: linear-gradient(to right bottom,rgba($color-primary-light, 0.80),rgba($color-primary-dark, 0.80)),url(../img/hero-small.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;

    @media only screen and  (min-resolution:192dpi) and (min-width:37.5px), (min-width:115em){
        background-image: linear-gradient(to right bottom,rgba($color-primary-light, 0.80),rgba($color-primary-dark, 0.80)),url(../img/hero.jpg);

    }//responsive images in css when ppi>192 and width<0600 use bigger image orr if screen width>1800


    @include respond(phone){
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);     
    }

    &__logo-box{
        position:absolute;
        top: 4rem;
        left: 4rem;
    }
    &__logo{
        height: 3.5rem;
    }
    &__heading{
        position: absolute;
        top: 40%;
        left: 50%;
        text-align: center;
        transform: translate(-50%,-50%);
   }
}